<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>プロフィール</title>
  <%- include('../common/head') %>
</head>
<body>
  <%- include('../common/navbar') %>
  <main>
    <div class="container">
      <h3 class="header">プロフィール編集</h3>
    </div>
  </main>
  <%- include('../common/footer') %>
  <%- include('../common/scripts') %>
</body>
</html>