<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>HOME</title>
    <%- include('common/head') %>
  </head>
  <body>
    <%- include('common/navbar') %>
    <main class="container">
      <h3 class="header">HOME</h3>
      <div class="section">
        <h4 class="header">アップロード</h4>
        <a class="btn-large" href="/upload/unity"><i class="fab fa-unity fa-2x"></i>Unityゲームのアップロード</a>
      </div>
      <div class="section">
        <h4 class="header">データベース</h4>
        <div class="section">
          <h5>一覧</h5>
          <a class="btn-large" href="/db/works">作品一覧</a>
          <a class="btn-large" href="/db/users">ユーザー一覧</a>
        </div>
        <div class="section">
          <h5 class="header">データベース内容の出力</h5>
          <a class="btn-large" href="/db/works/raw">works</a>
          <a class="btn-large" href="/db/users/raw">users</a>
        </div>
      </div>
    </main>
    <%- include('common/footer') %>
    <%- include('common/scripts') %>
  </body>
</html>
