<!DOCTYPE html>
<html lang="en">

<head>
  <title>HOME</title>
  <%- include('common/head') %> 
</head>

<body>
  <%- include('common/navbar', {logout: true}) %> 
  <main class="container">
    <h3 class="header">HOME</h3>
    <a class="btn-large" href="upload/unity"><i class="fab fa-unity fa-2x"></i>Unityゲームのアップロード</a>
  </main>
  <%- include('common/footer') %> 
  <%- include('common/scripts') %> 
</body>

</html>