<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="https://slack.com/oauth/v2/authorize?user_scope=identity.basic&client_id=1605710848113.1605716637201"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
</body>
</html>