<!DOCTYPE html>
<html lang="en">
<head>
  <title>ログイン</title>
  <%- include('common/head') %> 
  <!-- <meta http-equiv="Content-Security-Policy" content="img-src https://api.slack.com/img/sign_in_with_slack.png;"> -->
</head>
<body>
  <%- include('common/navbar') %> 
  <main>
    <div class="container">
      <h3 class="header">ログイン</h3>
      <p class="flow-text">このサイトはアプリNavi部員専用です。アプリNavi部員でない人はアクセスすることができません。</p>
      <p class="flow-text">アプリNavi部員は下のボタンを押してログインしてください。</p>
      <div class="center-align">
        <a href="https://slack.com/oauth/v2/authorize?user_scope=identity.basic&client_id=1605710848113.1605716637201"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
      </div>
    </div>
  </main>
  <%- include('common/footer') %> 
  <%- include('common/scripts') %> 
</body>
</html>