<!DOCTYPE html>
<html lang="en">

<head>
  <title>アップロード</title>
  <%- include('common/head') %>
    <script src="javascripts/upload.js" defer></script>
</head>

<body>
  <%- include('common/navbar', {logout: true}) %>
    <main class="container">
      <h3 class="header">Unity WebGLゲームを投稿する</h3>
      <form action="webgl" method="POST" enctype="multipart/form-data">
        <div class="row card-panel">
          <div class="input-field">
            <input id="creator_name" type="text" class="validate" name="creator_id" pattern="^[0-9a-z\-]+$" required
              aria-required />
            <label for="creator_name">作者ID</label>
            <span class="helper-text" data-error="数字・アルファベット小文字・ハイフンのみで入力してください" data-success="問題なし"></span>
          </div>
          <div class="input-field">
            <input id="game_name" type="text" class="validate" name="game_id" pattern="^[0-9a-z\-]+$" required
              aria-required />
            <label for="game_name">ゲームID</label>
            <span class="helper-text" data-error="数字・アルファベット小文字・ハイフンのみで入力してください" data-success="問題なし"></span>
          </div>
          <p>
            <label>
              <input type="checkbox" class="filled-in" name="overwrites_existing" />
              <span>上書きする</span>
            </label>
          </p>
        </div>
        <div class="row card-panel">
          <blockquote class="message-hidden-folder-files hide">
            隠しフォルダ(.gitなど)内のフォルダはアップロードされません。
          </blockquote>
          <div class="input-field file-field-frame">
            <div class="placeholder">
              <h6>
                ここにフォルダをドロップ
              </h6>
              <div>または</div>
              <h6>
                クリックしてフォルダを選択
              </h6>
            </div>
            <input class="file-path validate" type="file" name="webgl" webkitdirectory required aria-required />
          </div>
          <div class="divider"></div>
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">keyboard_arrow_down</i>
                <span class="file-count">0個のファイル</span>
              </div>
              <div class="collapsible-body">
                <div class="file-list-header">http://localhost:3000/games/<span class="creator_id">(作者ID)</span>/<span
                    class="game_id">(ゲームID)</span>/webgl/</div>
                <div class="file-list"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row center">
          <button type="submit" class="btn uploadButton">アップロードする</button>
        </div>
      </form>
      <div class="uploadingIndicator hide">
        <div class="center-align">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="result-dialog" class="modal">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-green btn-flat">閉じる</a>
        </div>
      </div>
    </main>
    <%- include('common/footer') %>
      <%- include('common/scripts') %>
</body>

</html>