body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.file-field-frame {
  position: relative;
  height: 150px;
  border: dashed 3px #39f;
  &.drag {
    background: #00b7ff;
  }
  & > input {
    opacity: 0;
    width: 100%;
    height: 100%;
    &:hover{
      cursor: pointer;
    }
  }
  & > .placeholder{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
