.file-field-frame {
  position: relative;
  height: 150px;
  border: dashed 2px gray;
  &.drag {
    background: #00b7ff;
    border: solid 3px #39f;
  }
  & > input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  & > .placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

//以下 http://kachibito.net/css/file-tree-css を参考に作成
.file-list {
  /*親要素*/
  position: relative;
  background: white;
  //font-size: 0.85rem;
  //font-weight: 400;
  line-height: 1.5;
  //color: #212529;
  ul {
    /*親フォルダ*/
    padding-left: 5px;
    list-style: none;
    li {
      /*ファイル名部分*/
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      box-sizing: border-box;
    }
    li:before {
      /*横線*/
      position: absolute;
      top: 15px;
      left: 0;
      width: 10px;
      height: 1px;
      margin: auto;
      content: "";
      background-color: #666;
    }
    li:after {
      /*縦線*/
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 100%;
      content: "";
      background-color: #666;
    }
    li:last-child:after {
      /*これ以下は別フォルダになる事を明示する為、少しだけ離す*/
      height: 15px;
    }
  }
}
//ここまで
