<nav>
  <div class="nav-wrapper">
    <a class="brand-logo center" href="/">アプリNavi</a>
    <% if (typeof(logout) !=="undefined"){ %>
      <ul id="nav-mobile" class="right">
        <li><a href="/auth/logout"><i class="material-icons left">logout</i>ログアウト</a></li>
      </ul>
    <% }%>
  </div>
</nav>