<nav>
  <ul id="navbar-dropdown" class="dropdown-content">
    <li><a href="/account">アカウント</a></li>
    <% if (typeof(user) !=="undefined" && user.type === "Slack"){ %>
      <li><a href="/account/guest">ゲストユーザー</a></li>
    <% } %> 
    <li class="divider"></li>
    <li><a href="/auth/logout">ログアウト</a></li>
  </ul>
  <div class="nav-wrapper">
    <a class="brand-logo" href="/">アプリNavi</a>
    <% if (typeof(user) !=="undefined"){ %>
      <ul id="nav-mobile" class="right">
        <li>
          <a class="navbar-dropdown-trigger valign-wrapper" href="#!" data-target="navbar-dropdown">
            <% if (typeof(user.avatar_url) !== "undefined") { %> 
              <img src="<%- user.avatar_url %> " alt="User Avatar" class="circle responsive-img navbar-avatar">
            <% } %> 
            <%-user.name %>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
      <link rel="stylesheet" href="/private/stylesheets/common/navbar.css" />
      <script src="/private/javascripts/common/navbar.js" defer></script>
    <% } %>
  </div>
</nav>
